{% extends "base.html" %}
<head>
{% block head %}
    {{ super() }}
    <script language="JavaScript" src="{{ url_for('static',filename='mockdeal/apicompare.js') }}"></script>
    <title>接口自动化工具</title>
{% endblock %}
</head>
{% block page_main %}
    <div class="col-lg-12">
        <br /><br />
        <table id="apicompare_info" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>API</th>
                <th>OnlineAPI</th>
                <th>CreateAt</th>
            </tr>
        </thead>
        <tbody id="mock_table">
        </tbody>
    </table>
    </div>
{% endblock %}