{% extends "base.html" %}
{% block page_main %}
    <div class="col-lg-12">
            <h1 class="page-header">工具简介</h1>
        <div>
            <br>
            <h3><font style="color:#03487E">接口自动化工具包含两个部分：Mock工具跟接口自动化工具<br /><br /></font></h3>
            <h5><font style="color:rgba(28, 66, 165, 0.56)"><b>Mock系统</b></font>：可以模拟服务器返回接口数据给客户端，从而可以让业务开发更加便捷，提供功能有：</h5>
            <ol>
                <li>模拟接口的返回数据；</li>
                <li>可定制化接口，返回定制数据。</li>
            </ol>
            <h5><font style="color:rgba(28, 66, 165, 0.56)"><b>接口自动化工具</b></font>：为业务接口提供一个集成监控平台，监控所有接口状态跟返回数据，及时反馈接口出现的问题，保障客户端稳定性.</h5>
        </div>
    </div>
{% endblock %}
